* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    background-color: pink;
    text-align: center;
    padding: 4rem;
    font-size: 2rem;
}

nav {
    background-color: violet;
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
}

main {
    flex: 1;
    background-color: white;
    padding: 3rem;
    font-size: 2rem;
    text-align: center;
}

footer {
    background-color: magenta;
    text-align: center;
    padding: 4rem;
    font-size: 2rem;
}