.emoji1 {
    font-size: 40px;
}

.emoji2 {
    font-size: 60px;
}

.emoji3 {
    font-size: 36px;
}

.emoji4 {
    font-size: 48px
}

.emoji5 {
    font-size: 38px;
}

.emoji6 {
    font-size: 50px;
}

.emoji7 {
    font-size: 30px;
}

.emoji8 {
    font-size: 54px;
}

.emoji9 {
    font-size: 42px;
}

.emoji10 {
    font-size: 35px;
}